<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Quicksand:wght@300..700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <!-- Lexend -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
  <title>Add Student</title>
  <style>
    body {
      overflow-x: hidden;
    }
  </style>
</head>

<body style="font-family: Quicksand;">

  <!-- TOP NAVBAR -->
  {% include 'admin/components/top_navbar.html' %}

  <div class="d-flex">

    <!-- SIDEBAR -->
    {% include 'admin/components/sidebar.html' %}

    <!-- MAIN CONTENT -->
    <div class="flex-grow-1 p-4" style="background-color: #f4f6f9;">

      <div class="d-flex justify-content-center align-items-center">
        <form action="" method="POST" class="bg-white p-4 shadow needs-validation"
          style="border-radius: 10px; width: 450px;">
          <h3 class="mb-4 fw-bold">Add Student</h3>
          <!-- Name -->
          <div class="form-group mb-3">
            <label style="font-weight: 500; font-size: 15px;" class="mb-1">Name</label>
            <input type="text" name="form_name" class="form-control" placeholder="Enter student's name" required
              autocomplete="off" style="width: 100%; height: 33px; border-radius: 8px; font-size: 14px;">
          </div>
          <!-- DOB & Age -->
          <div class="row mb-3">
            <div class="col-6 form-group">
              <label style="font-weight: 500; font-size: 15px;" class="mb-1">Date of Birth</label>
              <input type="date" name="form_dob" class="form-control" required autocomplete="off"
                style="width: 100%; height: 33px; border-radius: 8px; font-size: 14px;">
            </div>
            <div class="col-6 form-group">
              <label style="font-weight: 500; font-size: 15px;" class="mb-1">
              Age
            </label>
            <input type="text" name="form_age" class="form-control" autocomplete="off" placeholder="Enter student's age"
              style="width: 100%; height: 33px; border-radius: 8px; font-size: 14px;">
            </div>
          </div>
          <!-- Level -->
          <div class="form-group mb-3">
            <label style="font-weight: 500; font-size: 15px;" class="mb-1">Level</label>
            <select name="form_id_level" class="form-select" required
              style="width: 100%; height: 33px; border-radius: 8px; font-size: 14px;">
              <option value="" disabled selected>Select level</option>
              {% for level in data_level %}
              <option value="{{ level[0] }}">
                {{ level[1] }} ({{ level[2] }})
              </option>
              {% endfor %}
            </select>
          </div>
          <!-- Teacher -->
          <div class="form-group mb-3">
            <label style="font-weight: 500; font-size: 15px;" class="mb-1">Teacher</label>
            <select name="form_id_teacher" class="form-select" required
              style="width: 100%; height: 33px; border-radius: 8px; font-size: 14px;">
              <option value="" disabled selected>Select teacher</option>
              {% for teacher in data_teacher %}
              <option value="{{teacher[0]}}">
                {{teacher[1]}}
              </option>
              {% endfor %}
            </select>
          </div>
          <!-- Class Type -->
          <div class="form-group mb-3">
            <label style="font-weight: 500; font-size: 15px;" class="mb-1">Class</label>
            <select name="form_class_type" class="form-select" required
              style="width: 100%; height: 33px; border-radius: 8px; font-size: 14px;">
              <option value="" disabled selected>Select class</option>
              <option value="weekday">Weekday Class</option>
              <option value="weekend">Weekend Class</option>
            </select>
          </div>
          <!-- Parent Name -->
          <div class="form-group mb-3">
            <label style="font-weight: 500; font-size: 15px;" class="mb-1">Parent</label>
            <input type="text" name="form_parent_name" class="form-control" placeholder="Enter the parent's name"
              required autocomplete="off" style="width: 100%; height: 33px; border-radius: 8px; font-size: 14px;">
          </div>
          <!-- Parent Telp -->
          <div class="form-group mb-3">
            <label style="font-weight: 500; font-size: 15px;" class="mb-1">Phone Number</label>
            <input type="tel" name="form_parent_telp" class="form-control" placeholder="Enter the parent's phone number"
              autocomplete="off" style="width: 100%; height: 33px; border-radius: 8px; font-size: 14px;">
          </div>
          <!-- Address -->
          <div class="form-group mb-3">
            <label style="font-weight: 500; font-size: 15px;" class="mb-1">Address</label>
            <input type="tel" name="form_address" class="form-control" placeholder="Enter the address"
              autocomplete="off" style="width: 100%; height: 33px; border-radius: 8px; font-size: 14px;">
          </div>
          <!-- Join Date -->
          <div class="form-group mb-3">
            <label style="font-weight: 500; font-size: 15px;" class="mb-1">Join Date</label>
            <input type="date" name="form_join_date" class="form-control" required autocomplete="off"
              style="width: 100%; height: 33px; border-radius: 8px; font-size: 14px;">
          </div>
          <!-- Status -->
          <div class="form-group mb-3">
            <label style="font-weight: 500; font-size: 15px;" class="mb-1">Status</label>
            <select name="form_status" class="form-select" required
              style="width: 100%; height: 33px; border-radius: 8px; font-size: 14px;">
              <option value="" disabled selected>Select student status</option>
              <option value="Current Student">Current Student</option>
              <option value="Waiting List">Waiting List</option>
              <option value="Past Student">Past Student</option>
            </select>
          </div>

          <div>
            <input type="submit" value="ADD STUDENT" class="btn btn-sm w-100 fw-bold"
              style="border-radius: 5px; background-color: #ff682d; color: white;">
          </div>
        </form>
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <script>
    const dobInput = document.querySelector('input[name="form_dob"]');
    const ageInput = document.querySelector('input[name="form_age"]');

    function calculateAge() {
      if (!dobInput.value) {
        ageInput.value = '';
        return;
      }

      const dob = new Date(dobInput.value);
      const today = new Date();

      let years = today.getFullYear() - dob.getFullYear();
      let months = today.getMonth() - dob.getMonth();

      if (today.getDate() < dob.getDate()) months--;
      if (months < 0) {
        years--;
        months += 12;
      }

      ageInput.value = `${years}.${months.toString().padStart(2, '0')}`;
    }

    dobInput.addEventListener('input', calculateAge);
    calculateAge();
  </script>

</body>

</html>