<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Quicksand:wght@300..700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <!-- Lexend -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
  <title>Add Level</title>
  <style>
    body {
      overflow-x: hidden;
    }
  </style>
</head>

<body style="font-family: Quicksand;">

  <!-- TOP NAVBAR -->
  {% include 'admin/components/top_navbar.html' %}

  <div class="d-flex">

    <!-- SIDEBAR -->
    {% include 'admin/components/sidebar.html' %}

    <!-- MAIN CONTENT -->
    <div class="flex-grow-1 p-4" style="background-color: #f4f6f9;">

      <div class="d-flex justify-content-center align-items-center">
        <form action="" method="POST" class="bg-white p-4 shadow needs-validation"
          style="border-radius: 10px; width: 450px;">
          <h3 class="mb-4 fw-bold">Add Level</h3>
          <!-- Level Name -->
          <div class="form-group mb-3">
            <label style="font-weight: 500; font-size: 15px;" class="mb-1">Level Name</label>
            <input type="text" name="form_level_name" class="form-control" placeholder="Enter level name" required
              autocomplete="off" style="width: 100%; height: 33px; border-radius: 8px; font-size: 14px;">
            <div class="invalid-feedback">Please fill in the level name</div>
          </div>
          <!-- Age Range -->
          <div class="form-group mb-3">
            <label style="font-weight: 500; font-size: 15px;" class="mb-1">Age Range</label>
            <div class="d-flex gap-2">
              <!-- From -->
              <input type="number" step="0.01" min="0" id="age_from" class="form-control" placeholder="From" required
                style="height: 33px; border-radius: 8px; font-size: 14px;">
              <!-- To -->
              <input type="number" step="0.01" min="0" id="age_to" class="form-control" placeholder="To" required
                style="height: 33px; border-radius: 8px; font-size: 14px;">
            </div>
            <!-- Hidden field sent to backend -->
            <input type="hidden" name="form_age_range" id="age_range" required>

            <div class="invalid-feedback">Please fill in the age range</div>
          </div>

          <div>
            <input type="submit" value="ADD LEVEL" class="btn btn-sm w-100 fw-bold"
              style="border-radius: 5px; background-color: #ff682d; color: white;">
          </div>
        </form>
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <script>
    const fromInput = document.getElementById('age_from');
    const toInput = document.getElementById('age_to');
    const ageRangeInput = document.getElementById('age_range');

    function updateAgeRange() {
      if (fromInput.value && toInput.value) {
        ageRangeInput.value = `${fromInput.value} - ${toInput.value}`;
      } else {
        ageRangeInput.value = '';
      }
    }

    fromInput.addEventListener('input', updateAgeRange);
    toInput.addEventListener('input', updateAgeRange);
  </script>


</body>

</html>