<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Quicksand:wght@300..700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <!-- Lexend -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
  <title>Edit Admin</title>
  <style>
    body {
      overflow-x: hidden;
    }
  </style>
</head>

<body style="font-family: Quicksand;">

  <!-- TOP NAVBAR -->
  {% include 'director/components/top_navbar.html' %}

  <div class="d-flex">

    <!-- SIDEBAR -->
    {% include 'director/components/sidebar.html' %}

    <!-- MAIN CONTENT -->
    <div class="flex-grow-1 p-4" style="background-color: #f4f6f9;">
      <div class="d-flex justify-content-center align-items-center">
        <form action="/process_edit_admin" method="POST" class="bg-white p-4 shadow needs-validation"
          style="border-radius: 10px; width: 450px;">
          <h3 class="mb-4 fw-bold">Edit Admin</h3>

          <input type="hidden" name="form_id_admin" class="form-control" value="{{data_admin[0]}}">

          <!-- Name -->
          <div class="form-group mb-3">
            <label style="font-weight: 500; font-size: 15px;" class="mb-1">Name</label>
            <input type="text" name="form_name" class="form-control" placeholder="Enter admin's name" required value="{{data_admin[3]}}"
              autocomplete="off" style="width: 100%; height: 33px; border-radius: 8px; font-size: 14px;">
          </div>

          <!-- Username -->
          <div class="form-group mb-3">
            <label style="font-weight: 500; font-size: 15px;" class="mb-1">Username</label>
            <input type="text" name="form_username" class="form-control" placeholder="Enter admin's username" required value="{{data_admin[1]}}"
              autocomplete="off" style="width: 100%; height: 33px; border-radius: 8px; font-size: 14px;">
          </div>

          <!-- Password -->
          <div class="form-group mb-3">
            <label style="font-weight: 500; font-size: 15px;" class="mb-1">Password</label>
            <div class="input-group">
              <input type="password" id="password" name="form_password" class="form-control"
                placeholder="Enter admin's password" required autocomplete="off" value="{{data_admin[2]}}"
                style="width: 250px; height: 33px; font-size: 14px; border-top-left-radius: 8px; border-bottom-left-radius: 8px;">

              <span class="input-group-text" id="togglePassword"
                style="cursor: pointer; height: 33px; border-bottom-right-radius: 8px; border-top-right-radius: 8px;">
                <i class="bi bi-eye"></i>
              </span>
            </div>
          </div>

          <!-- Branch -->
          <div class="form-group mb-4">
            <label style="font-weight: 500; font-size: 15px;" class="mb-1">Branch</label>
            <select name="form_id_branch" class="form-select" required
              style="width: 100%; height: 33px; border-radius: 8px; font-size: 14px;">
              <option value="" disabled selected>Select a branch</option>
              {% for branch in data_branch %}
              <option value="{{branch[0]}}" {% if branch[0]|string == data_admin[4]|string %}selected{% endif %}>
                {{branch[1]}}
              </option>
              {% endfor %}
            </select>
          </div>

          <div>
            <input type="submit" value="EDIT ADMIN" class="btn btn-sm w-100 fw-bold"
              style="border-radius: 5px; background: #ffd555;">
          </div>
        </form>
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <script>
    const togglePassword = document.querySelector("#togglePassword");
    const password = document.querySelector("#password");

    togglePassword.addEventListener("click", function () {
      // Change input type
      const type = password.getAttribute("type") === "password" ? "text" : "password";
      password.setAttribute("type", type);

      // Toggle the icon
      this.querySelector("i").classList.toggle("bi-eye");
      this.querySelector("i").classList.toggle("bi-eye-slash");
    });
  </script>

</body>

</html>