<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Quicksand:wght@300..700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <!-- Lexend -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
  <title>Edit Schedule</title>
  <style>
    body {
      overflow-x: hidden;
    }
  </style>
</head>

<body style="font-family: Quicksand;">

  <!-- TOP NAVBAR -->
  {% include 'admin/components/top_navbar.html' %}

  <div class="d-flex">

    <!-- SIDEBAR -->
    {% include 'admin/components/sidebar.html' %}

    <!-- MAIN CONTENT -->
    <div class="flex-grow-1 p-4" style="background-color: #f4f6f9;">
      <div class="d-flex justify-content-center align-items-center">
        <form action="/process_edit_schedule" method="POST" class="bg-white p-4 shadow needs-validation"
          style="border-radius: 10px; width: 500px;">
          <input type="hidden" name="form_id_schedule" class="form-control" value="{{data_schedule[0]}}">
          <h3 class="mb-4 fw-bold">Edit Schedule</h3>
          <!-- Date -->
          <div class="form-group mb-3">
            <label style="font-weight: 500; font-size: 15px;" class="mb-1">Date</label>
            <input type="date" name="form_date" class="form-control" required value="{{data_schedule[4]}}"
              autocomplete="off" style="width: 100%; height: 33px; border-radius: 8px; font-size: 14px;">
          </div>
          <!-- Level -->
          <div class="form-group mb-3">
            <label style="font-weight: 500; font-size: 15px;" class="mb-1">Level</label>
            <select name="form_level" class="form-select" required
              style="width: 100%; height: 33px; border-radius: 8px; font-size: 14px;">
              {% for level in data_level %}
              <option value="{{level[0]}}" {% if level[0]==data_schedule[5] %}selected{% endif %}>{{level[1]}}</option>
              {% endfor %}
            </select>
          </div>
          <!-- Start Time & End Time -->
          <!-- <div class="form-group mb-3 row">
            <div class="col-6">
              <label style="font-weight: 500; font-size: 15px;" class="mb-1">Start Time</label>
              <input type="time" name="form_start_time" class="form-control" value="{{data_schedule[1]}}" required
                style="width: 100%; height: 33px; border-radius: 8px; font-size: 14px;">
            </div>
            <div class="col-6">
              <label style="font-weight: 500; font-size: 15px;" class="mb-1">End Time</label>
              <input type="time" name="form_end_time" class="form-control" value="{{data_schedule[2]}}" required
                style="width: 100%; height: 33px; border-radius: 8px; font-size: 14px;">
            </div>
          </div> -->
          <!-- Time Slot -->
          <div class="form-group mb-3">
            <label style="font-weight: 500; font-size: 15px;" class="mb-1">
              Time Slot
            </label>

            <select name="form_time_slot" class="form-select" required
              style="width: 100%; height: 33px; border-radius: 8px; font-size: 14px;">

              {% for start, end in time_slots %}
              <option value="{{start}}|{{end}}"
                {% if start == data_schedule[1]|string and end == data_schedule[2]|string %}selected{% endif %}>
                {{start}} - {{end}}
              </option>
              {% endfor %}

            </select>
          </div>
          <!-- Teacher -->
          <div class="form-group mb-3">
            <label style="font-weight: 500; font-size: 15px;" class="mb-1">Teacher</label>
            <select name="form_teacher" class="form-select" required
              style="width: 100%; height: 33px; border-radius: 8px; font-size: 14px;">
              {% for teacher in data_teacher %}
              <option value="{{teacher[0]}}" {% if teacher[0]==data_schedule[3] %}selected{% endif %}>{{teacher[1]}}
              </option>
              {% endfor %}
            </select>
          </div>
          <!-- Students -->
          <div class="form-group mb-3">
            <label style="font-weight: 500; font-size: 15px;" class="mb-1">Students</label>
            <select name="form_students" class="form-select" required
              style="width: 100%; height: 33px; border-radius: 8px; font-size: 14px;">
              {% for student in data_student %}
              <option value="{{student[0]}}" {% if student[0] in data_current_student %}selected{% endif %}>
                {{student[1]}} ({{student[2]}})</option>
              {% endfor %}
            </select>
          </div>
          <div>
            <input type="submit" value="EDIT SCHEDULE" class="btn btn-sm w-100 fw-bold"
              style="border-radius: 5px; background-color: #ffd555;">
          </div>
        </form>
      </div>
    </div>

  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>